// @font-face {
//     font-family: "Expansiva";
//     src: url(/src/assets/fonts/Expansiva/Expansiva.otf);
// }

// ------------------------------ Variables ------------------------------

:root {
    // Colors
    --purple: #7161F5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    margin: auto;
}

body {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}